<!doctype html>
<html lang="en" th:replace="base::layout('Employees', ~{::employees_div})">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Employees</title>
</head>
<body>

    <div th:fragment="employees_div" class="container mt-4">

        <div class="my-3">
            <h2 class="text-center mb-4">DSi Employee List</h2>
            <table class="table text-center table-success table-striped">
                <thead>
                <tr>
                    <th scope="col">Emp ID</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Joining Date</th>
                    <th scope="col">Project</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="emp : ${employees}" th:with="uri = '/employee/'+${emp.getEmpId()}">
                    <td th:text="${emp.empId}"></td>
                    <td><a th:href="${uri}" th:text="${emp.fullName}"></a></td>
                    <td th:text="${emp.designation}"></td>
                    <td th:text="${emp.joiningDate}"></td>
                    <td th:if="${emp.getProject()!=null}" th:with="uri = '/projects/'+${emp.getProject().getProjectId()}">
                        <a th:href="${uri}"><span th:text="${emp.getProject().getProjectName()}"></span></a>
                    </td>
                    <td th:unless="${emp.getProject()!=null}" th:text="''"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>




</body>
</html>