<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout('Employee Details',~{::emp_div})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="emp_div" class="container  mt-4">
        <h2 class="text-center py-2 rounded" style="background: #84cbff" th:text="${emp.getFullName()}"></h2>
        <div class="">
            <div class="py-2">
                <h5>Designation:</h5>
                <p th:text="${emp.getDesignation()}"></p>
            </div>

            <div class="py-2">
                <p><strong>Joining Date: </strong>
                    <span th:text="${emp.getJoiningDate()}"></span>
                </p>
                <p><strong>Duration: </strong><span th:text="${year} + ' year ' +
                ${month} + ' months'"></span></p>
            </div>
            <div class="py-2">
                <p><strong>Address: </strong> <span th:text="${emp.getAddress()}"></span></p>
                <p><strong>Phone: </strong> <span th:text="${emp.getPhone()}"></span></p>
                <p><strong>Email: </strong> <span th:text="${emp.getEmail()}"></span></p>
            </div>

            <div  th:with="uri = '/projects/'+${emp.getProject()?.getProjectId()}">
                <p>
                    <strong class="">Currently Assigned Project: </strong>
                    <a th:href="${uri}">
                        <span th:text="${emp.getProject()?.getProjectName()}"></span>
                    </a>

                </p>
            </div>
            <div th:with="url = '/editEmployee/' + ${emp.getEmpId()}" class="text-center">
                <a th:href="${url}">
                    <img style="width: 50px" src="/image/update.png" alt="">
                    <p>Edit Profile</p>
                </a>

            </div>
        </div>
    </div>


</body>
</html>