<!doctype html>
<html lang="en" th:replace="base::layout('Home Page', ~{::mysection})">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DSi DEM Admin</title>
</head>
<body>

    <section th:fragment="mysection" class="container my-3">
        <h2 class="text-center pb-2">DSi DEM Admin System</h2>
        <p><strong style="color: brown; font-size: larger">DSi</strong> is an international software company based in Dhaka, Bangladesh.
            We have been successfully providing software services since 2001 in both the local and International
        market places. </p>
        <p>This </p>

    </section>


</body>
</html>