<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout('Projects',~{::project_div})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="project_div" class="container ">

    <div class="my-4">
        <h2 class="text-center mb-4">DSi Project List</h2>
        <table class="table text-center table-bordered table-success table-striped">
            <thead>
            <tr class="">
                <th scope="col">Project ID</th>
                <th scope="col">Project Name</th>
                <th scope="col">Description</th>
                <th scope="col">Start Date</th>
                <th scope="col">Deadline</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="project : ${projects}" th:with="uri = '/projects/'+${project.id}">
                <td th:text="${project.id}"></td>
                <td><a th:href="${uri}" th:text="${project.projectName}"></a></td>
                <td th:text="${project.description.length()>100}?
                    ${project.description.substring(0,100)} + '...':
                       ${project.description} "></td>
                <td th:text="${project.startDate}"></td>
                <td th:text="${project.deadline}"></td>
            </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li th:classappend="${currentPage == 1}? 'disabled' : ''" class="page-item">
                    <a class="page-link" th:href="@{'/projects?page=' + ${currentPage -1}}">Previous</a>
                </li>

                <li th:classappend="${currentPage == page}? 'active' : ''" th:each="page : ${#numbers.sequence(1, totalPage)}" class="page-item">
                    <a class="page-link" th:href="@{'/projects?page=' + ${page}}" th:text="${page}"></a>
                </li>

                <li th:classappend="${currentPage == totalPage}? 'disabled' : ''" class="page-item">
                    <a class="page-link" th:href="@{'/projects?page=' + ${currentPage +1}}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>