<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(${project !=null ? project.projectName : 'My Project'},~{::project-div})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:with="isAdmin = ${user.roles == 'ROLE_ADMIN'}" class="container mt-4"  th:fragment="project-div">
        <div th:if="${project}">
            <h2 class="text-center py-2 rounded" style="background: #84cbff" th:text="${project.projectName}"></h2>
            <div class="py-2">
                <h4>Description:</h4>
                <p th:text="${project.description}"></p>
            </div>

            <div class="py-2">
                <p><strong>Date: </strong>
                    <span th:text="${project.startDate}"></span> to
                    <span th:text="${project.deadline}"></span>
                </p>
                <p><strong>Duration: </strong><span th:text="${duration} + ' days. (' +
                ${remaining} + ' days remaining)'"></span></p>
            </div>


            <strong>Status:</strong>
            <div th:with="status = ${project.status}" th:switch="${status}">
                <p th:case="Ongoing" style="color: orangered">Ongoing</p>
                <p th:case="Finished" style="color: green">Finished</p>
                <p th:case="Maintenance" style="color: deepskyblue">Maintenance</p>
            </div>


            <div th:with="employees = ${project.employeeList}">
                <h4 class="pb-2">Employees:</h4>
                <table class="table text-center table-success table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Emp ID</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Designation</th>
                        <th scope="col">Joining Date</th>
                        <th th:if="${isAdmin}" scope="col">Remove Emp</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="emp : ${employees}" th:with="uri = '/admin/employees/'+${emp.id}">
                        <td th:text="${emp.id}"></td>
                        <td>
                            <a th:if="${isAdmin}" th:href="${uri}" th:text="${emp.fullName}"></a>
                            <p th:unless="${isAdmin}" th:text="${emp.fullName}"></p>
                        </td>
                        <td th:text="${emp.designation}"></td>
                        <td th:text="${emp.joiningDate}"></td>
                        <td th:if="${isAdmin}">
                            <form th:action="@{/admin/removeEmployee}" method="post">
                                <input type="number" name="employeeId" th:value="${emp.id}" hidden="hidden">
                                <input type="number" name="projectId" th:value="${project.id}" hidden="hidden">
                                <button style="background: #C7DBD2" type="submit" class="border-0">
                                    <img style="width: 30px" src="/image/removeuser.png" alt="user.png">
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <form th:if="${isAdmin}" th:with="url = '/admin/addEmployeeToProject/' + ${project.id}" class="text-center mt-5" th:action="${url}" method="post">
                <input type="text" hidden="hidden" name="projectName" th:value="${project.projectName}">
                <button type="submit" class="border-0 bg-light">
                    <img style="width: 50px" src="/image/add-user.png" alt="">
                    <p>Add Employee</p>
                </button>
            </form>
        </div>

        <div th:unless="${project}">
            <h3 class="text-center">You are not assigned to any project yet!!</h3>
        </div>
        </div>
</body>
</html>